@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navbar-brand {
    padding-left: 0.3em;
    font-family: Zeyada;
    border-bottom: solid #A8D0E6 thin;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}

menu .nav-item {
    padding: 0.3em 2em;
}

.card {
    padding: 0.3em 2em;
    margin: 0.5em;
    width:  100vh;
}

.review {
    display: flex;
    flex-direction: column;
    padding: 0.5em 2em;
    margin: 0.5em;
}

.review a {
    padding: 0.5em 2em;
    margin: 0.5em;
}

footer {
    flex: 0 30px;
    color: white;
}

footer a {
    float: right;
}

@media (max-height: 500px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}